body {
    background-color: rgb(243, 244, 246);
}

#root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

#customize-section,
#all-inputs-wrapper
{
    width: 500px
}

.hide {
    display: none;
}