* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
}

@font-face {
  font-family: 'Cormorant-Garamond';
  src: url("./assets/fonts/CormorantGaramond-VariableFont_wght.ttf") format('woff2');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format('woff2');
  font-weight: 100 900;
}

@font-face {
  font-family: 'JosefinSans';
  src: url("./assets/fonts/JosefinSans-VariableFont_wght.ttf") format('woff2');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Manrope';
  src: url("./assets/fonts/Manrope-VariableFont_wght.ttf") format('woff2');
  font-weight: 100 900;
}

@font-face {
  font-family: 'SourceSans3';
  src: url("./assets/fonts/SourceSans3-VariableFont_wght.ttf") format('woff2');
  font-weight: 100 900;
}

@media print {
  body * {
    visibility: hidden;
  }

  #section-CV, 
  #section-CV * {
    visibility: visible;
  }

  #section-CV {
    position: absolute;
    top: 0;
    left: 0;
  }

}